@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturadet-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --font-size: 16px;
  --font-family: "Red Hat Display";
  --mobile: 375px;
  --desktop: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  min-width: var(--mobile);
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: repeat-x;
  background-color: var(--pale-blue);
  min-height: 100vh;
  padding-top: 71px;
}

.card {
  width: 326px;
  background-color: var(--very-pale-blue);
  margin: 0 auto;
  border-radius: 18px;
  overflow: hidden;
  padding-bottom: 14px;
  box-shadow: 0px 5px 50px var(--pale-blue);
}

.card__body {
  background: var(--very-pale-blue);
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 33px;
}

.card__title {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 16px;
  color: var(--dark-blue);
}

.card__subtitle {
  color: var(--desaturadet-blue);
  font-weight: 500;
  font-size: 15px;
  padding: 0 12px;
  line-height: 25px;
  margin-bottom: 40px;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plan__name {
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-left: 18px;
  padding-bottom: 2px;
}

.plan__price {
  color: var(--desaturadet-blue);
  margin-top: 3px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-left: 19px;
}

.plan__action {
  color: var(--bright-blue);
  font-weight: 700;
  text-decoration: underline;
  font-size: 13px;
}

.plan__action:hover {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.card__action {
  margin-top: 42px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 18px;
}

.button--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: var(--very-pale-blue);
  background-color: var(--bright-blue);
  padding: 16px 0;
  border-radius: 10px;
  margin-bottom: 25px;
}

.button--primary:hover {
  opacity: 0.6;
  cursor: pointer;
}

.button--secondary {
  font-weight: 900;
  font-size: 15px;
  color: var(--desaturadet-blue);
}

.button--secondary:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

@media (min-width: 600px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    padding-top: 102px;
  }

  .card {
    width: 448px;
    padding-bottom: 30px;
  }

  .card__body {
    padding-top: 46px;
  }

  .card__title {
    font-size: 28px;
  }

  .card__subtitle {
    font-size: 16px;
    padding: 0 22px;
    line-height: 26px;
    margin-bottom: 44px;
  }

  .plan {
    padding: 0 48px;
  }

  .plan__name {
    font-size: 16px;
  }

  .plan__price {
    font-size: 16px;
  }

  .plan__action {
    font-size: 14px;
  }

  .card__action {
    margin-top: 58px;
    padding-left: 47px;
    padding-right: 47px;
  }

  .button--primary {
    height: 50px;
    margin-bottom: 32px;
  }
}
